* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
}

.hero-section {
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-position: bottom;
  height: 800px;
}

.mobile-menu {
  display: none;
  background-color: transparent;
  border: none;
  width: 24px;
  padding: 0;
}

.mobile-menu img {
  max-width: 100%;
}

.hero-section img {
  width: 170px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 40px;
}

.navigation a {
  margin-left: 45px;
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.navigation .call-to-action {
  padding: 15px 30px;
  border-radius: 28px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

.navigation .call-to-action:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}

.main-text {
  text-align: center;
}

.main-text h1 {
  font-size: 56px;
  font-weight: 900;
  font-family: "Fraunces", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 8.75px;
}

.main-text button {
  background-color: transparent;
  border: none;
  height: 130px;
  width: 50px;
}

.main-text button img {
  max-height: 100%;
  max-width: 100%;
}

.brand {
  display: flex;
  flex-wrap: wrap;
}

.brand-image,
.brand-text {
  flex-basis: 50%;
}

.brand-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
}

.brand-text h2 {
  font-weight: 900;
  font-size: 40px;
  color: #24303e;
  font-family: "Fraunces", sans-serif;
  margin: 32px 0;
}

.brand-text p {
  color: #808397;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

.brand-text a {
  margin-top: 40px;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 15px;
  text-decoration: none;
  color: #24303e;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  width: 120px;
}

.brand-text a::before {
  content: "";
  background-color: #fad400;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: -3px;
  z-index: -1;
  border-radius: 28px;
  opacity: 0.25;
  transition: opacity 0.2s linear;
}

.brand-text a:hover::before {
  opacity: 1;
}

.brand-image img {
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 785px) {
  .hero-section {
    height: 538px;
  }

  .navigation {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .brand-image,
  .brand-text {
    flex-basis: 100%;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex-basis: 25%;
}

.gallery img {
  max-width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .gallery-item {
    flex-basis: 50%;
  }
}

.testimonials {
  background-color: #fff;
  padding: 160px 165px;
}

.testimonials h2 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #a7aaad;
  text-transform: uppercase;
  text-align: center;
}

.testimonial-list {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
}

.testimonial-item {
  text-align: center;
  flex-basis: 30%;
}

@media only screen and (max-width: 1000px) {
  .testimonial-item {
    flex-basis: 100%;
    margin-bottom: 64px;
  }
}

.testimonial-item p {
  color: #5b636d;
  font-size: 18px;
  font-weight: 600;
  max-width: 350px;
  margin: 50px auto;
}

.testimonial-item .info * {
  display: block;
}

.testimonial-item .info strong {
  font-size: 18px;
  color: #24303e;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
}

.testimonial-item .info span {
  font-size: 14px;
  color: #a7aaad;
  font-weight: 600;
  margin-top: 10px;
}

.testimonial-item img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
